@model Domain.MealBox


<form asp-action="Aanpassen" method="post">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="submit" value="">
</form>