@model Domain.MealBox

<h2 class="text-center">Wijzig Maaltijdbox @Model.MealBoxName</h2>
 <form method="post" asp-action="Aanmaken">
        <div class="mb-3">
            <label for="mealBoxNameInput" class="form-label">Naam</label>
            <input type="email" class="form-control" id="mealBoxNameInput" name="mealBoxNameInput" aria-describedby="emailHelp">
            <div id="mealBoxNameInputHint" class="form-text">Een unieke omschrijvende naam voor de maaltijdbox.</div>
        </div>
        <div class="mb-3">
            <label for="SelectCity" class="form-label">Stad</label>
            <select name="SelectCity" class="form-select" id="SelectCity">
                <option value="Breda">Breda</option>
                <option value="Tilburg">Tilburg</option>
                <option value="Den_Bosch">Den Bosch</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="mealBoxNameInput" class="form-label">Ophaaldatum</label>
            <input type="date" class="form-control" id="PickupDateInput" name="PickupDateInput" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="mealBoxNameInput" class="form-label">Ophaalverloopdatum</label>
            <input type="date" class="form-control" id="MaxPickupDateInput" name="MaxPickupDateInput" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="PriceInput" class="form-label">Prijs</label>
            <input type="number" class="form-control"  id="PriceInput" name="PriceInput" min="0.00" max="10000.00" step="0.01"/>
        </div>


        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="EighteenPlus">
            <label class="form-check-label" for="EighteenPlus">Bevat producten die 18+ zijn.</label>
        </div>
        <button type="submit" class=" btn btn-outline-success">Aanmaken</button>
    </form>