@{
    ViewData["Title"] = "Gereserveerde boxen";
}
@model IEnumerable<Domain.MealBox>


<h1 class="text-center" >Gereserveerd</h1>

<div class="w-75 mx-auto  mt-5 grid-container mb-5 ">
    @foreach (var m in Model)
    {
        <partial name="MaaltijdBox" model="m" />
    }
</div>