@{
    ViewData["Title"] = "Beschikbare Maaltijdboxen";
}
@model IEnumerable<Domain.MealBox>


<h1 class="text-center">Beschikbare Maaltijdboxen</h1>
<div asp-validation-summary="All" class="text-danger"></div>


@if (User.IsInRole("employee") && ViewBag.cantine != null)
{
    <div class="mt-5">
        <h3 class="text-center">Maaltijdboxen van uw kantine:</h3>
        <div class="w-75 mx-auto  mt-5 grid-container mb-5 ">
            @foreach (var m in Model.Where(m => m.CanteenId == ViewBag.cantine))
            {
                <partial name="MaaltijdBox" model="m"/>
            }
        </div>
    </div>
    <div class="mt-5">
        <h3 class="text-center">Maaltijdboxen van andere kantines</h3>
        <div class="w-75 mx-auto  mt-5 grid-container mb-5 ">
            @foreach (var m in Model.Where(m => m.CanteenId != ViewBag.cantine))
            {
                <partial name="MaaltijdBox" model="m"/>
            }
        </div>
    </div>
}
else
{
    <div class="w-75 mx-auto  mt-5 grid-container mb-5 ">
        @foreach (var m in Model)
        {
            <partial name="MaaltijdBox" model="m"/>
        }
    </div>
}