
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>

    <h1>Login</h1>
    <form action="" method="post">
        
        <input type="text" placeholder="Email" name="" id="email">
        <input type="password" placeholder="Wachtwoord" name="" id="password">
        <input type="button" value="">
    </form>

</div>
</body>
</html>